<ion-header>
  <ion-toolbar>
    <div class="p-3">
      <ion-text style="float:right; padding-right: 5%;" class="titulo_letra">&nbsp;Perfil</ion-text><span style="float: left;"><a routerLink="/tabs"><ion-icon slot="secondary" name="arrow-back-outline" style="font-size: 150%; color: #DBF4AD;"></ion-icon></a></span>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false" class="ion-padding">
<!--<ion-grid> PRUEBA DE PERFIL CON COLUMNAS (NO FUNCIONA)
  <ion-row>
    <ion-col>
      <h5>Usuario:</h5>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h5 class="letra_gris">admin</h5>  Aquí se agarra el valor "usuario" de la base de datos
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h5>Correo:</h5>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h5 class="letra_gris">jose.flores.12@hotmail.com</h5> Aquí se agarra el valor "correo" de la base de datos
    </ion-col>
  </ion-row>
</ion-grid>-->
<br>
<h4 style="margin-left: auto;">Usuario:</h4>
<h4 class="letra_gris" style="margin-left: auto;">admin</h4>  <!--Aquí se agarra el valor "usuario" de la base de datos-->
<br>
<h4 style="margin-left: auto;">Correo:</h4>
<h4 class="letra_gris" style="margin-left: auto;">jose.flores.12@hotmail.com</h4> <!--Aquí se agarra el valor "correo" de la base de datos-->
<br>
<br>

  <br>
  <br>
  <br>
  <br>
  <center><ion-img style="width: 120px; height: 120px;" src="https://i.imgur.com/WiHvb8Q.png"></ion-img></center>
  <center><h6 class="letra_gris" style="margin-left: auto;">Versión: 1.0</h6></center>
  <br>
  <center><a style="margin-left: auto;"><ion-button color="danger" (click)="elimiarCuenta()">Eliminar cuenta</ion-button></a></center>
</ion-content>
