<app-main-header>

</app-main-header>

<ion-content>
  <br>
  <br>
  <center><h4>Registrar nueva cuenta</h4></center>
    <div class="form-group" style="padding: 15px 25px;">
      <label>Nombre de usuario <small>*</small></label>
      <ion-input type="text" class="form-control" required="true" style="background-color: #cee3d2;"></ion-input>
      <br>
      <label>Correo electrónico <small>*</small></label>
      <ion-input type="email" class="form-control" required="true" style="background-color: #cee3d2;"></ion-input>
      <br>
      <label>Contraseña <small>*</small></label>
      <ion-input type="password" class="form-control" required="true" style="background-color: #cee3d2;"></ion-input>
    </div>
<center><p class="text-muted">*Es obligatorio llenar todos los campos</p></center>

<center><a routerLink="/tabs" style="margin-left: auto;"><ion-button color="medium">CREAR CUENTA</ion-button></a></center> 
</ion-content>
