<ion-header>
  <ion-toolbar>
    <div class="p-3">
      <center><ion-text class="titulo_letra">&nbsp;Registrar nueva cuenta<span style="float: left;"><a routerLink="/start-page"><ion-icon slot="secondary" name="arrow-back-outline" style="font-size: 125%; color: #DBF4AD;"></ion-icon></a></span></ion-text></center>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
    <div class="form-group" style="padding: 15px 25px;">
      <label>Nombre de usuario <small>*</small></label>
      <ion-input type="text" class="form-control" required="true" style="background-color: #cee3d2;" [(ngModel)]="session.nombreUsuario"></ion-input>
      <br>
      <label>Correo electrónico <small>*</small></label>
      <ion-input type="email" class="form-control" required="true" style="background-color: #cee3d2;" [(ngModel)]="session.correoElectronico"></ion-input>
      <br>
      <label>Contraseña <small>*</small></label>
      <ion-input type="password" class="form-control" required="true" style="background-color: #cee3d2;" [(ngModel)]="session.clave"></ion-input>
    </div>
<center><p class="text-muted">*Es obligatorio llenar todos los campos.</p></center>

<center><a style="margin-left: auto;"><ion-button color="medium" (click)="crearCuenta()">CREAR CUENTA</ion-button></a></center> 
</ion-content>
