<ion-header>
  <ion-toolbar>
    <div class="p-3">
      <ion-text style="float:right; padding-right: 5%;" class="titulo_letra">&nbsp;About us</ion-text><span
        style="float: left;"><a routerLink="/tabs">
          <ion-icon slot="secondary" name="arrow-back-outline" style="font-size: 150%; color: #DBF4AD;"></ion-icon>
        </a></span>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false" class="ion-padding">
  <br>
  <h4>
    Somos estudiantes de ingeniería de la Universidad Autónoma de Nuevo León (UANL), y nuestro objetivo con
    EconoMyHealth es llegar a manos de aquellos estudiantes foráneos o independientes para que con ayuda de nuestra app
    puedan tener mejor control de sus gastos y así mismo puedan llegar al fin de mes sin que se sientan presionados por
    quedarse sin dinero. No obstante, aunque nuestra principal idea es para estudiantes que se encargan de su propia
    economía, EconoMyHealth también puede ser usada por cualquier otro estudiante que quiera conocer guías o
    recomendaciones para aprovechar mejor su dinero, ya sea con descuentos estudiantiles, con consejos sobre cómo
    comprar en el super, entre muchos otros más.
  </h4>
  <br>
  <h4>
    Equipo de desarrolladores:
  </h4>

  <ion-list>
    <ion-item>
      <ion-label>Rodolfo Navarro Calderón</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>José María Flores Lomelí</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Carlos Javier Gil Romero</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>David Abiel Reyes Cavazos</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Miguel Ángel Vázquez Hernández</ion-label>
    </ion-item>
  </ion-list>
  <br>

</ion-content>