<ion-menu side="start" content-id="menuContent">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title style="font-size: 16px; font-weight: lighter;">EconoMyHealth</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menuContent">
    <!--Aqui van los links del menu-->
    
    <a routerLink="/perfil"><ion-item>
      <ion-label>
        Perfil
      </ion-label>
    </ion-item></a>
    <a routerLink="/about-us"><ion-item>
      <ion-label>
        About us
      </ion-label>
    </ion-item></a>
    <a onclick="cerrarSesion()" class="a_cerrar"><ion-item class="cerrar">
      <ion-label>  <!--el onclick es para cerrar sesión pero aún no está terminado-->
        Cerrar sesión
      </ion-label>
    </ion-item></a>
  </ion-content>
</ion-menu>
<ion-router-outlet id="menuContent"></ion-router-outlet>

