<ion-header>
  <ion-toolbar>
    <div class="p-3">
      <ion-text style="float:right; padding-right: 5%;" class="titulo_letra">&nbsp;Historial de ingresos</ion-text><span style="float: left;"><a routerLink="/tabs"><ion-icon slot="secondary" name="arrow-back-outline" style="font-size: 150%; color: #DBF4AD;"></ion-icon></a></span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <center><h4>Tabla de ingresos</h4></center>
  <br>
  <br>
  <ion-grid>
    <ion-row>
      <table class="table">
        <thead style="background-color: #587854; color: #DBF4AD;">
          <tr>
            <th scope="col"><center>Monto</center></th>
            <th scope="col"><center>Fecha</center></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ingreso of ingresosList">
            <td scope="row"><center>{{ingreso.montoIngreso}}</center></td>
            <td scope="row"><center>{{ingreso.fecha_ingreso}}</center></td>
          </tr>
        </tbody>
      </table>
    </ion-row>
  </ion-grid>
</ion-content>
