<!-- HEADER -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-text class="titulo_letra">&nbsp;Guías</ion-text>
    <ion-tab-button class="mainIcon" slot="end" tab="tab1"><ion-icon name="home-outline"></ion-icon></ion-tab-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">

  <!--CUERPO DE LA PAGINA-->

  <ion-card *ngFor="let guide of globals.guidesList">
    <ion-img class="imagen_card" src="{{guide.imagen}}"></ion-img>
    <ion-card-header>
    <ion-row>
      <ion-col>
        <ion-card-subtitle><i>#{{guide.tipo}}</i></ion-card-subtitle>
      </ion-col>
      <ion-col>
        <a (click)="toggleZipped(guide.idguia)" (click)="addFavoritos(guide.idguia)" style="float: right; font-size: 18px;"><ion-icon slot="icon-only" [name]="zipped[guide.idguia] ? 'star-outline' : 'star'"></ion-icon></a>
      </ion-col>
    </ion-row>
    <ion-card-title>{{guide.titulo}}</ion-card-title>
  </ion-card-header>
    <ion-card-content style="text-align: justify;">
      {{guide.descripcion}}
    </ion-card-content>
    <ion-grid *ngIf="guide.enlace != '-'">
      <ion-row>
        <ion-col size="6">
          <a href="{{guide.enlace}}" target="blank">
          <ion-button class="btn_ligas" expand="full">Ir a la nota</ion-button>
          </a>
        </ion-col>
        <ion-col size="6">
          <center>
            <ion-button expand="block"  class="btn_secondary">
              <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
            </ion-button>
          </center>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!--CUERPO DE LA PAGINA-->
  
  </ion-content>
  