ion-toolbar
{
    --background: #587854;
    --color: #DBF4AD;
}

.iconStyle
{
    --background:transparent;
}

.mainIcon
{
    padding-left: 80px;
}

a {
    text-decoration: none;
}

ion-card, ion-item {
    font-family: Inter;
    font-weight: normal;
    color: #656565;
    --background: #E1F1DF;
    padding-bottom: 5%;
}

ion-card {
    border-top: 6px solid #656565
 }

.imagen_card{
    min-height: 1px
}



ion-content, ion-label {
    font-family: Inter;
    font-weight: normal;
    color: #656565;
    //--background: #f7f7f5;
    --background: url('https://i.imgur.com/gKl1VI9.png') no-repeat center/cover fixed;
}

.btn_ligas
{
    --background: #a6d3a0;
    --color: #656565;
    align-items: center;
    display: flex;
    justify-content: space-between;
    outline: black;
}

.btn_secondary
{
    --background: #a6d3a0;
    --color: #656565;
    align-items: center;
    display: flex;
    justify-content: space-between;
    outline: black;
}

.img_descuentos {
    //border-radius: 10px !important;
    //border: solid;
    overflow: hidden;
}
