<!--MENU Y CABECERA-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-text class="titulo_letra">&nbsp;Administrar gastos</ion-text>
    <ion-tab-button class="mainIcon" slot="end" tab="tab1"><ion-icon name="home-outline"></ion-icon></ion-tab-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false" class="ion-padding">

<!--CUERPO DE LA PAGINA-->

    <ion-grid>
      <ion-row>
        <ion-col>
          <h6 style="color: #233321;" style="font-size: 17px;">Balance actual</h6>
          <h6 style="font-size: 15px;" class="text-success">Gastos totales</h6>
        </ion-col>
        <ion-col class="ion-text-right">
          <h4 style="color: #233321;">${{balance_general}}</h4>
          <h5 class="text-success">${{gastos_totales}}</h5>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="container-fluid p-2 text-dark" style="background-color: #cfe3d3;">
      <center><h5>Balance de gastos</h5></center>
      <ion-grid>
        <ion-row>
          <ion-col class="my-auto">
            Alimento
          </ion-col>
          <ion-col class="my-auto">
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" [style.width.%]="porcentaje_alimento" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </ion-col>
          <ion-col>
            <label style="float: right;" class="text-dark">${{alimento}}</label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="my-auto">
            Salud
          </ion-col>
          <ion-col class="my-auto">
            <div class="progress">
              <div class="progress-bar salud" role="progressbar" [style.width.%]="porcentaje_salud" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </ion-col>
          <ion-col>
            <label style="float: right;" class="text-dark">${{salud}}</label>
          </ion-col>
        </ion-row>
        <!--<ion-row>
          <ion-col class="my-auto">
            Transporte
          </ion-col>
          <ion-col class="my-auto">
            <div class="progress">
              <div class="progress-bar transporte" role="progressbar" style="width: 10%; height: 100%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </ion-col>
          <ion-col>
            <label style="float: right;" class="text-dark">$620.10</label>
          </ion-col>
        </ion-row>-->
        <ion-row>
          <ion-col class="my-auto">
          Servicios
          </ion-col>
          <ion-col class="my-auto">
            <div class="progress">
              <div class="progress-bar servicios" role="progressbar" [style.width.%]="porcentaje_servicios" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </ion-col>
          <ion-col>
            <label style="float: right;" class="text-dark">${{servicios}}</label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="my-auto">
            Ocio
          </ion-col>
          <ion-col class="my-auto">
            <div class="progress">
              <div class="progress-bar ocio" role="progressbar" [style.width.%]="porcentaje_ocio" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </ion-col>
          <ion-col>
            <label style="float: right;" class="text-dark">${{ocio}}</label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="my-auto">
            Otros
          </ion-col>
          <ion-col class="my-auto">
            <div class="progress">
              <div class="progress-bar otros" role="progressbar" [style.width.%]="porcentaje_otros" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </ion-col>
          <ion-col>
            <label style="float: right;" class="text-dark">${{otros}}</label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br>
    </div>

    <br>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="btn_agregarGasto" expand="block" routerLink="/gastos">Agregar gasto</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="btn_agregarIngreso" expand="block" routerLink="/ingresos">Agregar ingreso</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

<!--CUERPO DE LA PAGINA-->

</ion-content>
