ion-content, ion-label {
    font-family: Inter;
    font-weight: normal;
    color: #656565;
    --background: #f7f7f5;
}

ion-toolbar
{
    --background: #587854;
    --color: #DBF4AD;
}

.iconStyle
{
    --background:transparent;
}

.mainIcon
{
    padding-left: 80px;
}

.imageMain{
    --background:transparent;
    width:25%;
    height:25%;
    float:right;
    right: 0px;
}

.btn_agregarIngreso
{
    --background: #808782;
    --color: #b3ffb3;
}

.btn_agregarGasto
{
    --background: #a6d3a0;
    --color: #656565;
}

.salud
{
    background-color: #FF595E;
}

.transporte
{
    background-color: #7189FF;
}

.ocio
{
    background-color: #C96984;
}

.servicios
{
    background-color: #E0AB79;
}

.otros
{
    background-color: #4F5451;
}

.menuContent
{
    --background: #cfe3d3;
    --color: #233321;
}