ion-toolbar
{
    --background: #587854;
    --color: #DBF4AD;
}

ion-content, ion-label {
    font-family: Inter;
    font-weight: normal;
    color: #656565;
    //--background: #f7f7f5;
    --background: url('https://i.imgur.com/gKl1VI9.png') no-repeat center/cover fixed;
}

.iconStyle
{
    --background:transparent;
}

.mainIcon
{
    padding-left: 80px;
}

a {
    text-decoration: none;
}

.titulo_letra{
    font-size: 125%;
}