ion-content, ion-label {
    font-family: Inter;
    font-weight: normal;
    color: #656565;
    --background: #f7f7f5;
}

ion-slides
{
    height: 100%;
}

.swiper-slide {
    overflow-y: scroll;    
    display: block;    
}


a {
    text-decoration: none;
}