<ion-content overflow-scroll="false">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <br>
            <br>
            <ion-img
              src="https://trello-attachments.s3.amazonaws.com/5f073b3d701bae47a418dcf9/1200x1200/0e24c618da79f0c3cd9bb2f7cdfe6a9b/logo_transparent.png">
            </ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col>
            <h1 style="text-align: center;"><b>Bienvenido a EconoMyHealth,</b></h1>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col>
            <p style="text-align: center; font-size: 18px;">Una aplicación dirigida para estudiantes que no
              encuentran cómo hacer que sus
              ingresos les rindan de manera correcta. EconoMyHealth cuenta con un control de gastos y además ofrece
              diferentes guías e información que le ayudarán al usuario a aprovechar mejor su dinero.</p>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col>
            <h1 style="text-align: center;"><b>Términos de uso</b></h1>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col>
            <p style="text-align: center; font-size: 18px;">Las recetas que se encuentran dentro de la aplicación están pensadas para
              personas sin ningún tipo de padecimiento que les impida ingerir ciertos alimentos, por lo que si usted es
              o sospecha ser alérgico o sufrir alguna enfermedad que le impida consumir ciertos alimentos se le
              recomienda consultar con un médico especializado antes de consumir dichas recetas. </p>

            <br>
          </ion-col>
          <ion-col size="1"> </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>


    <!--
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <br>
            <br>
            <ion-img
              src="https://trello-attachments.s3.amazonaws.com/5f073b3d701bae47a418dcf9/1200x1200/0e24c618da79f0c3cd9bb2f7cdfe6a9b/logo_transparent.png">
            </ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col>
            <br>
            <h1 style="text-align: center;"><b>Cuestiones de uso.</b></h1>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col>
            <p style="text-align: center;">Las recetas que se encuentran dentro de la aplicación están pensadas para
              personas sin ningún tipo de padecimiento que les impida ingerir ciertos alimentos, por lo que si usted es
              o sospecha ser alérgico o sufrir alguna enfermedad que le impida consumir ciertos alimentos se le
              recomienda consultar con un médico especializado antes de consumir dichas recetas. </p>
            
            <br>
          </ion-col>
          <ion-col size="1"> </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>-->



    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <br>
            <br>
            <ion-img src="https://i.imgur.com/GL5wUeN.png">
            </ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col>
            <br>
            <h1 style="text-align: center;"><b>Privacidad y tratamiento de datos</b></h1>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col>
            <p style="text-align: center; font-size: 18px;">Nos comprometemos a proteger la información de los usuarios y a cumplir con
              los estándares de seguridad para mantener la integridad de la misma.
            <br><br>Al registrar una cuenta usted acepta que hagamos uso de su información con los fines necesarios para el
              correcto funcionamiento de la aplicación. Los datos almacenados por EconoMyHealth no se compartirán ni utilizarán con servicios de terceros sin el
              expreso consentimiento del usuario.
              <br><br>Cuando usted crea una cuenta nueva, además de su correo también se le pedirá que elija una contraseña. Usted es totalmente
              responsable de mantener la confidencialidad de su contraseña, por lo que no nos hacemos responsables de robo de información y/o 
              pérdida de cuenta en caso de que el usuario comparta su contraseña con otros individuos.</p><br>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>




    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <br>
            <br>
            <ion-img
              src="https://trello-attachments.s3.amazonaws.com/5f073b3d701bae47a418dcf9/1200x1200/0e24c618da79f0c3cd9bb2f7cdfe6a9b/logo_transparent.png">
            </ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col>
            <br>
            <h1 style="text-align: center;"><b>Sobre las obligaciones y responsabilidades del usuario</b></h1>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col>
            <p style="text-align: center; font-size: 18px;">El usuario se compromete a:
            <br><br>
              Hacer un uso adecuado y lícito de la app, así como de los contenidos y servicios que se proporcionan. En
              caso de que el usuario no cumpla con estas obligaciones, los desarrolladores de la aplicación no se hacen
              responsables de sus acciones y de las repercusiones legales que dichas pueden causar.
            </p>
            <br>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"></ion-col>

          <ion-col>
            <ion-checkbox color="medium" style="font-size: 14px;" [(ngModel)]="checkboxTerminos" (ionChange)="revisarCheckbox()"></ion-checkbox>
            <ion-label>&nbsp;He leído y acepto los términos y condiciones mostrados.</ion-label>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
        <br>
        <ion-button color="medium" (click)="btnCrearCuenta()">CONTINUAR</ion-button><br>
        <br>
        <br>
        <br>
      </ion-grid>
    </ion-slide>

  </ion-slides>
</ion-content>
