<ion-header>
  <ion-toolbar>
    <div class="p-3">
      <ion-text style="float:right; padding-right: 5%;" class="titulo_letra">&nbsp;Agregar gastos</ion-text><span style="float: left;"><a routerLink="/tabs"><ion-icon slot="secondary" name="arrow-back-outline" style="font-size: 150%; color: #DBF4AD;"></ion-icon></a></span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <ion-list style="background:transparent;">
    <ion-list-header>
      <p class="textoTitulo">Ingresar un gasto nuevo</p>
      <br>
      <br>
      <br>
    </ion-list-header>
    <ion-label> Tipo de gasto </ion-label>
    <br>
      <ion-item>
        <ion-select placeholder="Seleccione una opción" [(ngModel)]="gasto.categoria">
          <ion-select-option value="alimentos">Alimento</ion-select-option>
          <ion-select-option value="salud">Salud</ion-select-option>
          <!--<ion-select-option value="transporte">Transporte</ion-select-option>-->
          <ion-select-option value="servicios">Servicios</ion-select-option>
          <ion-select-option value="ocio">Ocio</ion-select-option>
          <ion-select-option value="otros">Otros</ion-select-option>
        </ion-select>
      </ion-item>
      <br>
    <ion-label>Concepto</ion-label>
    <br>
      <ion-item>
        <ion-input placeholder="Ingrese el concepto" [(ngModel)]="gasto.concepto"></ion-input>
      </ion-item>
      <br>

    <ion-label>Monto</ion-label>
    <br>
      <ion-item>
        <ion-input type="number" placeholder="$" [(ngModel)]="gasto.monto"></ion-input>
      </ion-item>
  </ion-list>
<br>
<br>
<br>

<center><ion-button (click)="insertDatosGasto()" color="medium">ENVIAR</ion-button></center>
</ion-content>
