<ion-header>
  <ion-toolbar>
    <div class="p-3">
      <center><ion-text>&nbsp;Inicio de Sesión<span style="float: left;"><a><ion-icon name="arrow-back-outline" style="font-size: 18px;"></ion-icon></a></span></ion-text></center>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
    <div class="form-group" style="padding: 15px 25px;">
      <label>Nombre de usuario <small>*</small></label>
      <ion-input type="text" class="form-control" required="true" style="background-color: #cee3d2;"></ion-input>
      <br>
      <label>Contraseña <small>*</small></label>
      <ion-input type="password" class="form-control" required="true" style="background-color: #cee3d2;"></ion-input>
    </div>
<center><p class="text-muted">*Es obligatorio llenar todos los campos.</p></center>

<center><a routerLink="/tabs" style="margin-left: auto;"><ion-button color="medium">INICIAR SESIÓN</ion-button></a></center> 
</ion-content>
